<% if datetime < 3.days.ago %>
  <span data-controller="time-format" 
        data-time-format-timestamp-value="<%= datetime.to_i %>">
    <%= datetime %>
  </span>
<% else %>
  <span>
    <%= time_ago_in_words(datetime) %>
  </span>
<% end %>
