<span data-controller="time-format" 
      data-time-format-locale-value="<%= current_locale %>"
      data-time-format-timestamp-value="<%= datetime.to_i %>">
  <%= time_ago_in_words(datetime) %>
</span>
