<div class="w-full flex justify-center py-4">
  <% if pagy&.has_more? %>
    <div class="hidden" data-infinite-scroll-target="loading">
      <%= render 'components/loading' %>
    </div>
    <%= link_to t('components.pagy.more'), 
      url_for(before: before), 
      data: { 
        turbo_stream: true,
        infinite_scroll_target: "pagination",
      }, 
      class: "w-80 btn btn-primary btn-sm" %>
  <% else %>
    <div class="opacity-50">
      =.=
    </div>
  <% end %>
</div>
