<div class="max-w-prose mx-auto">
  <div data-controller="infinite-scroll">
    <%= turbo_frame_tag "topics" do %>
      <% if @topics.blank? %>
        <%= render 'components/empty' %>
      <% else %>
        <div id="topics-list">
          <%= render partial: "topics/topic", collection: @topics %>
        </div>
        <div data-infinite-scroll-target="scrollArea"></div>
        <div id="topics-pagy">
          <%= render 'components/pagy', pagy: @pagy %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
