<li class="text-sm text-second hover:text-primary">
  <%= link_to story.title_in(current_locale), story.url, target: "_blank", class: "" %>
  <span class="text-xs opacity-70 ml-1"><%= story.domain_name %></span>
</li>
